*.log
dump
.git

# Nonessential parts of the theme directory can be ignored
app/content/themes/bc_marine_canvas/resources/assets
app/content/themes/bc_marine_canvas/node_modules
app/content/themes/bc_marine_canvas/.cache-loader
app/content/themes/bc_marine_canvas/composer.*
app/content/themes/bc_marine_canvas/package.*
app/content/themes/bc_marine_canvas/yarn.*
