# Files
# -----
.DS_Store
.env*
.htaccess
.log
.sql

# Directories
# -----------
app/wp/
ops/.vagrant/
unformatted/
vendor/
ignore/

# Keep
# ----
app/content/*
!app/content/mu-plugins/
!app/content/plugins/
!app/content/themes/
!app/content/uploads/

app/content/mu-plugins/*
!app/content/mu-plugins/bedrock-autoloader.php

app/content/plugins/*
!app/content/plugins/.keep

app/content/themes/*
!app/content/themes/bc_custom_canvas/
!app/content/themes/.keep

app/content/themes/bc_custom_canvas/resources/assets/config-local.json
app/content/themes/bc_custom_canvas/.cache-loader/
app/content/themes/bc_custom_canvas/dist/
app/content/themes/bc_custom_canvas/node_modules/
app/content/themes/bc_custom_canvas/vendor/

app/content/themes/bc_custom_canvas/resources/views/cache/*
!app/content/themes/bc_custom_canvas/resources/views/cache/.keep

app/content/uploads/*
!app/content/uploads/.keep

dump/*
!dump/.keep

log/*
!log/.keep
