<link rel="apple-touch-icon" sizes="180x180" href="{{ partial "head/favicon-path.html" "apple-touch-icon.png" . }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ partial "head/favicon-path.html" "favicon-32x32.png" . }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ partial "head/favicon-path.html" "favicon-16x16.png" . }}">
<link rel="manifest" href="{{ partial "head/favicon-path.html" "site.webmanifest" . }}">
<link rel="mask-icon" href="{{ partial "head/favicon-path.html" "safari-pinned-tab.svg" . }}" color="#1c75bc">
<link rel="shortcut icon" href="{{ partial "head/favicon-path.html" "favicon.ico" . }}">
<meta name="msapplication-TileColor" content="#1c75bc">
<meta name="theme-color" content="#ffffff">
