.btn {
  text-transform: uppercase;
}

.bg-gray {
  background-color: $gray-100;
}

.text-gray {
  color: $gray-700;
}

.supporting-image {
  margin-top: ($spacer * 3);

  img {
    max-height: 300px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: inherit;
  }
}

.mw-575 {
  max-width: 575px;
}

.preload * {
  transition: none !important;
}
