/* stylelint-disable */
.checkout {
  .woocommerce {
    p.woocommerce-notice {
      @extend .mb-4;
    }

    .col2-set .col-1,
    .col2-set .col-2 {
      @extend .mb-4;

      max-width: unset !important;
      float: unset !important;
      width: unset !important;
    }
  }

  ul.woocommerce-order-overview.order_details {
    @extend .my-4;

    padding-left: 0 !important;

    li {
      @extend .mb-2;

      float: none !important;
    }
  }
}

form.checkout {
  @extend .row;

  .col2-set {
    @extend .col-12;
    @extend .col-lg-6;

    .col-1,
    .col-2 {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      max-width: none;

      .form-row {
        @extend .form-group;

        display: block;

        input,
        textarea {
          @extend .form-control;
        }
      }

      .form-row-first,
      .form-row-last {
        width: 50%;
        float: left;
      }

      .form-row-first {
        padding-right: 15px;
      }

      .form-row-last {
        padding-left: 15px;
      }
    }

    .select2-container--default {
      height: calc(2.9rem + 2px);

      .select2-selection--single {
        height: unset;
        padding: 0.7rem 1.25rem;
        border: 1px solid #c9c9c9;

        .select2-selection__arrow {
          height: unset;
          width: unset;
          top: 56%;
          right: 24px;
        }
      }
    }
  }

  .order_review_wrapper {
    @extend .col-12, .col-sm-6;
  }

  .woocommerce-NoticeGroup-checkout {
    @extend .col-12;
  }
}

.woocommerce-checkout-review-order {
  table {
    @extend .table;

    th {
      &.product-total {
        text-align: right;
      }
    }

    thead th {
      border: none !important;
    }

    td {
      text-align: right;

      &.product-name {
        text-align: left;
      }
    }
  }

  .payment_methods {
    list-style-type: none;
    padding: 0;
  }

  .place-order {
    .button {
      @extend .btn-primary;
    }
  }
}
