{{ define "main" }}
  <section class="{{ .Type }}">
    <div class="page container py-5">
      <div class="row g-xl-0">
        <div class="col col-xl-10 offset-xl-1">
          {{ partial "page-heading.html" . }}
        </div>
      </div>
      <div class="row g-xl-0 align-items-start">
        <div class="col-lg-6 col-xl-5 offset-xl-1">
          <div class="page-content mb-5 fmw-lg-575 pe-xl-5">
            {{ .Content }}
          </div>
        </div>
        <div class="col-lg-6 col-xl-5 d-flex justify-content-center justify-content-lg-end">
          {{ $args := dict
            "path" (.Params.featuredImage.path | default .Site.Params.defaults.featuredImage.default.path)
            "alt" .Params.featuredImage.alt
            "class" "img-supporting mt-3 mt-lg-0 border border-2 border-light"
            "linkToOriginal" (.Params.featuredImage.linkToOriginal | default .Site.Params.defaults.featuredImage.linkToOriginal.section)
          }}
          {{ partial "image.html" $args }}
        </div>
      </div>
      <div class="row mt-6 mb-5">
        <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
          <div class="w-100 d-flex flex-column align-items-center px-3">
            <h2 class="text-center mb-4 fs-1 fmw-500">{{ .Params.listHeading }}</h2>
          </div>
          <div class="list-group">
            {{ $pages := (append .Pages .Sections) | uniq }}
            {{ range (.Paginate $pages).Pages }}
              <a href="{{ .Permalink }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <div class="ps-0 ps-md-4 pe-2 me-auto w-100">
                  <h3 class="my-2 fs-4">{{ .Title }} <span class="text-primary">→</span></h3>
                  <p class="mb-2 pe-2">{{ .Description }}</p>
                </div>
                <div class="ps-lg-5 pe-0 pe-md-4 pt-lg-0">
                  {{ $featuredImage := dict
                    "path" (.Params.featuredImage.path | default .Site.Params.defaults.featuredImage.default.path)
                    "alt" .Params.featuredImage.alt
                    "class" "list-group-img rounded-circle border border-2 border-light"
                  }}
                  {{ partial "image.html" $featuredImage }}
                </div>
              </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
