{{ define "main" }}
  <section class="{{ .Type }}">
    <div class="page container py-5">
      <div class="row g-xl-0">
        <div class="col col-xl-10 offset-xl-1">
          {{ partial "page-heading.html" . }}
        </div>
      </div>
      <div class="row g-xl-0 align-items-start mb-5">
        <div class="col-lg-6 col-xl-5 offset-xl-1">
          <div class="page-content mb-5 fmw-575 pe-xl-5">
            {{ .Content }}
          </div>
        </div>
        <div class="col-lg-6 col-xl-5 d-flex justify-content-center justify-content-lg-end">
          {{ $args := dict
            "path" (.Params.featuredImage.path | default .Site.Params.defaults.featuredImage.default.path)
            "alt" .Params.featuredImage.alt
            "class" "img-supporting mt-3 mt-lg-0 border border-2 border-light"
            "linkToOriginal" (.Params.featuredImage.linkToOriginal | default .Site.Params.defaults.featuredImage.linkToOriginal.single)
          }}
          {{ partial "image.html" $args }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
