h1.hero {
  color: $white;
  font-size: 2rem;
  font-weight: 800;
  text-shadow: 0 -1px 22px $black;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;

  @include media-breakpoint-up(md) {
    font-size: 3.25rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4.375rem;
  }
}

.hero-container {
  background-color: $blue;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;

  @media only screen and (min-width: 1400px) {
    min-height: 400px;
  }
}

.hero-title-opacity {
  @include row-opacity($black, 0.35);
}

.home-services {
  .archive-card-img {
    @include media-breakpoint-up(lg) {
      min-height: 250px;
    }
  }
}

.home-cta-bg {
  height: 100%;
  background-color: $black;
  background-image: url("../images/backgrounds/boats-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}

.home-cta-opacity {
  @include row-opacity($black);
}

.home-cta {
  h3,
  span {
    text-align: center;
  }

  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea,
  select {
    background-color: rgba($white, 0.75) !important;
    text-align: center;
  }

  .gform_wrapper {
    & li {
      padding-right: unset !important;
    }

    & input[type="submit"] {
      margin-right: unset !important;
    }
  }

  .gform_footer {
    text-align: center !important;

    input[type="submit"] {
      @extend .btn;
      @extend .btn-outline-light;
    }
  }
}
