.aquatraction {
  svg {
    height: 3rem;
    display: block;

    @include media-breakpoint-up(md) {
      height: 4.5rem;
    }

    @include media-breakpoint-up(lg) {
      height: 4rem;
    }
  }
}
