.circle {
  @extend .ratio;
  @extend .ratio-1x1;

  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  background-color: $white;

  .inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
