{{/*
<div class="container py-2">
  <div class="row">
    <div class="col align-items-center justify-content-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 px-1">
          {{ define "breadcrumb" }}
            {{ with .Parent }}
              {{ template "breadcrumb" . }}
              <li class="breadcrumb-item">
                {{ if .IsHome }}
                  <a href="{{ .Permalink }}">Home</a>
                {{ else }}
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
              </li>
            {{ end }}
          {{ end }}

          {{ if not .IsHome }}
            {{ template "breadcrumb" . }}
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          {{ end }}
        </ol>
      </nav>
    </div>
  </div>
</div>
*/}}

<nav class="d-none d-md-block" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0 px-1">
    {{ define "breadcrumb" }}
      {{ with .Parent }}
        {{ template "breadcrumb" . }}
        <li class="breadcrumb-item fw-light">
          {{ if .IsHome }}
            <a href="{{ .Permalink }}">Home</a>
          {{ else }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </li>
      {{ end }}
    {{ end }}

    {{ if not .IsHome }}
      {{ template "breadcrumb" . }}
      <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    {{ end }}
  </ol>
</nav>
