$lg-path-fonts: "~lightgallery.js/dist/fonts";
$lg-path-images: "~lightgallery.js/dist/img";

@import "~lightgallery.js/src/sass/lightgallery.scss";

.gallery-item {
  img {
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 285px;
    max-height: 285px;
  }
}
