<div class="container border-top border-bottom border-light">
  <div class="row py-5">
    <div class="col d-flex flex-column align-items-center">
      <h2 class="fmw-575 text-center"><span class="text-nowrap">Custom marine canvas,</span> <span class="text-nowrap">upholstery, and flooring</span></h2>
      <p class="fmw-575 text-center">
        Elevate your boating experience to new heights with custom canvas,
        upholstery, or foam flooring from BC Marine Canvas. Outfit your boat
        with a canvas enclosure, cushions, or foam decking.
      </p>
    </div>
  </div>
</div>
