<div class="container border-top border-bottom border-light">
  <div class="row py-5">
    <div class="col d-flex flex-column align-items-center">
      <h2 class="mw-575 text-center"><span class="text-nowrap">Custom marine canvas</span> <span class="text-nowrap">and upholstery</span></h2>
      <p class="mw-575 text-center">
        BC Marine Canvas is a full-service marine canvas and upholstery shop.
        Our specialties include: enclosures for powerboats and sailboats,
        dodgers, biminis, <span class="text-nowrap">sun shades</span>, covers,
        cushions, and more.
      </p>
    </div>
  </div>
</div>
