/**
 * WooCommerce CSS Variables
 */

$woocommerce:   	#234269;
$green:         	#a5f726;
$red:           	#f29131;
$orange:        	#f29131;
$blue:          	#2a7cbb;

$primary:           $woocommerce;
$primarytext:       #fff;

$secondary:         #e7e7e7;
$secondarytext:     #070606;

$highlight:         $orange;
$highlightext:      #070606;

$contentbg:         #fff;
$subtext:           #070606;
