.masks-main-copy {
  max-width: 768px;
  padding: 0 1rem;

  p:last-child {
    margin-bottom: 0;
  }
}

.masks-main-img,
.masks-checklist-img {
  height: 100%;
  min-height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}

.masks-checklist-bg {
  height: 100%;
  background-color: $blue;
  background-image: url("../images/backgrounds/boats-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}

.masks-checklist-opacity {
  @include row-opacity($primary);
}

.masks-checklist {
  max-width: 768px;
  padding: 0 1rem;

  svg {
    fill: $white;
  }
}

.masks-checklist-bullets {
  list-style: none;
  margin-left: 0;
  padding-left: 3rem;
  text-indent: -2.5rem;

  p:last-child {
    margin-bottom: 0;
  }

  li {
    color: $white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &::before {
      content: "";
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
      background-image: url("../images/icons/check-circle.svg");
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 1rem;
      vertical-align: bottom;
    }
  }
}

.masks-tabs {
  padding-bottom: 0;

  .nav-item {
    border-top: 1px solid $gray-300;
    max-width: none;

    a {
      border-radius: 0;
    }

    @include media-breakpoint-up(md) {
      border-top: none;
      max-width: 20%;
    }
  }
}

.masks-tab {
  /* stylelint-disable no-descending-specificity */
  p {
    padding: 1rem 0.25rem;

    @include media-breakpoint-up(lg) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &.nav-link {
    color: $gray-700;

    svg {
      display: none;
      fill: $gray-300;
      height: 3.625rem;
    }

    &:hover {
      p {
        text-decoration: underline;
      }
    }

    &.active {
      color: $blue;
      background-color: $gray-100;
      position: relative;

      p {
        text-decoration: none;
      }

      @include media-breakpoint-up(md) {
        background-color: transparent;

        svg {
          display: initial;
          fill: currentColor;
        }

        &::after {
          content: "";
          position: absolute;
          width: 50%;
          left: 25%;
          height: 7px;
          bottom: 0;
          border-bottom: 7px solid $blue;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    @include media-breakpoint-up(md) {
      svg {
        display: initial;
      }
    }
  }
  /* stylelint-enable */
}

.masks-panes {
  border-top: 1px solid $gray-300;
}

.masks-pane-content {
  /* stylelint-disable no-descending-specificity */
  p:last-child {
    margin-bottom: 0;
  }
  /* stylelint-enable */
}

.masks-cta-bg {
  height: 100%;
  background-color: $black;
  background-image: url("../images/backgrounds/boats-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}

.masks-cta-opacity {
  @include row-opacity($black);
}

.masks-cta {
  h3,
  span {
    text-align: center;
  }

  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea,
  select {
    background-color: rgba($white, 0.75) !important;
  }

  select {
    margin-top: 12px;
  }

  .instruction {
    display: none;
  }

  .field_sublabel_above label {
    text-align: left;
    font-size: 1rem !important;
    font-weight: 700 !important;
    letter-spacing: unset !important;
  }
}

.masks-cta-form-wrapper {
  @include media-breakpoint-up(lg) {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
